### Python Review
- 변수: 데이터를 담는 공간
- 데이터 타입: 
    - 연속형(int/float64)
    - 범주형(str/object; 범주형)
- 데이터 구조:
    - **List []: 데이터의 순서 존재/중복허용/추가삭제변경 가능***
    - Tuple (): 데이터의 순서 존재/중복허용/추가삭제변경 불가능***
    - Set {}: 데이터의 순서 X/중복X/추가,삭제,변경 가능
    - Dictionary {key:value}: 키-값의 형태/추가,삭제,변경 가능
- 구문:
    - 조건문 (if): 조건에 따라 사용자가 구성한 코드 수행
    - 반복문 (while/for): 특정 횟수/범위에 따라 사용자가 구성한 코드 수행
    - 들여쓰기 (문장의 종속관계 표현 위함)
- 함수(def):
    - 반복사용되는 구문/기능들을 하나의 약어로 정의하여 사용
- 라이브러리: 특정 목적을 수행하기 위해 모아놓은 함수의 집합

### Python 라이브러리
- NumPy(Numeric+Python): 수학, 통계연산과 관련된 함수 집합
- **Pandas(Panel+DataSet): 정형데이터(excel, csv, sql, ..)의 통계량 계산과 전처리 함수의 집합
- Matplot(Matlab + Plot): 연속형 자료들을 시가고하하는 함수들의 집합
- Seaborn: 정형데이터 통계량 시각화 함수들의 집합
- Plotly: 동적 시각화 함수들의 집합
- Missingno: 결측값 시각화 함수들의 집합
- Scipy (Science + Python): 응용통계 (가설검정/시계열분석/회귀분석) 분석함수들의 집합
- Scikit (Science Python Toolkit Learning): 기계학습에 관련한 함수들의 집합 (정형데이터)
- Tensorflow (Tensor + Flow); 비정형데이터(이미지, 영상, 자연어, 신호, etc)를 처리하는 함수들의 집합 + 신경망
    * Scalar (점) - Vector (선) - Matrix (3차원) - Tensor (n차의 차원)
- BS4: 스크래핑 (web)데이터를 수집할 때 사용하는 함수들의 집합
- Selenium: 프로그램 진단; 프로그램 자동화 함수들의 집합
- PyCaret: Auto Machine Learning

- Flask: 웹구현
- Dash: 웹구현 (데이터 기반)

### Pandas의 데이터 구조
- Series(순열): index와 value
  - df['col']
    - 요약통계: describe()
- DataFrame(졍형데이터): index와 column, value
  - df[['col']]
  여러 항목을 추출할 때 데이터프레임 형태로 추출
    - 요약통계: summary()

### 1. 데이터 분석 연습

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("C:/Users/Conet/lec/01_Data.csv", encoding = 'utf-8')
data

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

1. 데이터의 구조와 타입 확인

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51301 entries, 0 to 51300
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          51301 non-null  int64
 1   Member_ID      51301 non-null  int64
 2   Sales_Type     51301 non-null  object
 3   Contract_Type  51301 non-null  object
 4   Channel        51301 non-null  object
 5   Datetime       51301 non-null  object
 6   Term           51301 non-null  int64
 7   Payment_Type   51301 non-null  object
 8   Product_Type   51301 non-null  object
 9   Amount_Month   51301 non-null  int64
 10  Customer_Type  51299 non-null  object
 11  Age            44329 non-null  float64
 12  Address1       51299 non-null  object
 13  Address2       51299 non-null  object
 14  State          51301 non-null  object
 15  Overdue_count  51301 non-null  int64
 16  Overdue_Type   51301 non-null  object
 17  Gender         51301 non-null  object
 18  Credit_Rank    42520 non-null  float64
 19  Bank           48542 non-null  object
dtypes: float64(2), int64(5), object(13)
memory usage: 7.8+ MB

In [12]:
data['Amount_Month'].describe()

count     51301.000000
mean      93994.974289
std       15304.263988
min       54603.000000
25%       81900.000000
50%       96900.000000
75%       98400.000000
max      215700.000000
Name: Amount_Month, dtype: float64

#### 연속형 데이터의 요약통계량

In [13]:
data.describe()

,Index,Member_ID,Term,Amount_Month,Age,Overdue_count,Credit_Rank
count,51301.000000,5.130100e+04,51301.000000,51301.000000,44329.000000,51301.000000,42520.000000
mean,25651.703612,6.266432e+07,55.639149,93994.974289,50.024093,0.161381,3.428810
std,14809.828628,1.216146e+07,12.009915,15304.263988,10.983877,1.122193,2.213453
min,1.000000,2.568798e+07,12.000000,54603.000000,25.000000,0.000000,0.000000
25%,12826.000000,6.643148e+07,60.000000,81900.000000,42.000000,0.000000,1.000000
50%,25652.000000,6.676578e+07,60.000000,96900.000000,49.000000,0.000000,3.000000
75%,38477.000000,6.678160e+07,60.000000,98400.000000,57.000000,0.000000,5.000000
max,51302.000000,6.696986e+07,60.000000,215700.000000,102.000000,15.000000,10.000000

#### 범주형 데이터의 unique값

In [15]:
data['Channel'].unique()

array(['영업방판', '홈쇼핑/방송', '재계약', '전문매장H', '전문매장Z', '대형마트H', '대형마트E',
       '홈쇼핑/인터넷', '전단홍보', '직영유통사', '대형마트A', '대형마트N', '대형마트C', '직영계열사B',
       '자체홈페이지', '직영계열사A'], dtype=object)

#### 범주형 데이터의 빈도값

In [16]:
data['Channel'].value_counts()

영업방판       23767
홈쇼핑/방송     12977
대형마트A       4725
전문매장H       3227
재계약         2193
대형마트E       1497
전문매장Z       1206
전단홍보         560
홈쇼핑/인터넷      375
대형마트H        225
직영유통사        188
자체홈페이지       120
대형마트C        119
대형마트N         83
직영계열사A        20
직영계열사B        19
Name: Channel, dtype: int64

In [18]:
# count: 데이터의 수
# unique: 항목갯수
# top: 가장 빈도수가 높은 항목
# freq: top의 갯수
data.describe(include = ['object'])

,Sales_Type,Contract_Type,Channel,Datetime,Payment_Type,Product_Type,Customer_Type,Address1,Address2,State,Overdue_Type,Gender,Bank
count,51301,51301,51301,51301,51301,51301,51299,51299,51299,51301,51301,51301,48542
unique,2,9,16,577,5,6,2,8,14,4,2,2,47
top,렌탈,프로모션계약,영업방판,2019-01-31,CMS,DES-1,개인,경기도,경기도,계약확정,없음,여자,롯데카드
freq,46483,15811,23767,1167,32825,39133,46263,18353,14883,50620,49110,35602,9516

In [19]:
data.describe(include='all')

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
count,51301.000000,5.130100e+04,51301,51301,51301,51301,51301.000000,51301,51301,51301.000000,51299,44329.000000,51299,51299,51301,51301.000000,51301,51301,42520.000000,48542
unique,NaN,NaN,2,9,16,577,NaN,5,6,NaN,2,NaN,8,14,4,NaN,2,2,NaN,47
top,NaN,NaN,렌탈,프로모션계약,영업방판,2019-01-31,NaN,CMS,DES-1,NaN,개인,NaN,경기도,경기도,계약확정,NaN,없음,여자,NaN,롯데카드
freq,NaN,NaN,46483,15811,23767,1167,NaN,32825,39133,NaN,46263,NaN,18353,14883,50620,NaN,49110,35602,NaN,9516
mean,25651.703612,6.266432e+07,NaN,NaN,NaN,NaN,55.639149,NaN,NaN,93994.974289,NaN,50.024093,NaN,NaN,NaN,0.161381,NaN,NaN,3.428810,NaN
std,14809.828628,1.216146e+07,NaN,NaN,NaN,NaN,12.009915,NaN,NaN,15304.263988,NaN,10.983877,NaN,NaN,NaN,1.122193,NaN,NaN,2.213453,NaN
min,1.000000,2.568798e+07,NaN,NaN,NaN,NaN,12.000000,NaN,NaN,54603.000000,NaN,25.000000,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN
25%,12826.000000,6.643148e+07,NaN,NaN,NaN,NaN,60.000000,NaN,NaN,81900.000000,NaN,42.000000,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,NaN
50%,25652.000000,6.676578e+07,NaN,NaN,NaN,NaN,60.000000,NaN,NaN,96900.000000,NaN,49.000000,NaN,NaN,NaN,0.000000,NaN,NaN,3.000000,NaN
75%,38477.000000,6.678160e+07,NaN,NaN,NaN,NaN,60.000000,NaN,NaN,98400.000000,NaN,57.000000,NaN,NaN,NaN,0.000000,NaN,NaN,5.000000,NaN
max,51302.000000,6.696986e+07,NaN,NaN,NaN,NaN,60.000000,NaN,NaN,215700.000000,NaN,102.000000,NaN,NaN,NaN,15.000000,NaN,NaN,10.000000,NaN

#### 결측값 갯수 확인

In [7]:
data.isnull().sum()

Index               0
Member_ID           0
Sales_Type          0
Contract_Type       0
Channel             0
Datetime            0
Term                0
Payment_Type        0
Product_Type        0
Amount_Month        0
Customer_Type       2
Age              6972
Address1            2
Address2            2
State               0
Overdue_count       0
Overdue_Type        0
Gender              0
Credit_Rank      8781
Bank             2759
dtype: int64

### 데이터 전처리
1. 데이터 추출 (열/행)
2. 데이터 정렬
3. 데이터 조건
4. 데이터 요약
5. 데이터 재구조화
6. 데이터 병합
7. 결측/이상치 처리
8. 날짜 데이터

In [20]:
# 데이터 열단위 추출 (시리즈)
data['Amount_Month']

0         96900
1        102900
2         96900
3         66900
4         66900
          ...
51296     96900
51297     96900
51298    120900
51299     96900
51300     96900
Name: Amount_Month, Length: 51301, dtype: int64

In [21]:
# 데이터 행단위 추출
data.head()  # 상위 데이터 추출

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합

In [22]:
data.tail()

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [23]:
# iloc; index location에 접속해서 데이터 추출
data.loc[100:200]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
100,101,66758264,렌탈,패키지계약,홈쇼핑/방송,2019-01-01,60,CMS,DES-1,81900,개인,38.0,전라도,광주광역시,계약확정,0,없음,남자,2.0,광주은행
101,102,66758264,렌탈,패키지계약,홈쇼핑/방송,2019-02-09,60,CMS,DES-2,81900,개인,38.0,전라도,광주광역시,계약확정,0,없음,남자,2.0,광주은행
102,103,66758918,렌탈,일반계약,전문매장H,2019-01-31,60,CMS,DES-1,96900,개인,36.0,전라도,광주광역시,계약확정,0,없음,여자,1.0,국민은행
103,104,66437196,렌탈,프로모션계약,영업방판,2019-01-31,60,CMS,DES-3A,90900,개인,44.0,전라도,광주광역시,계약확정,0,없음,여자,2.0,농협회원조합
104,105,66420849,렌탈,프로모션계약,영업방판,2019-02-21,60,CMS,DES-2,90900,개인,50.0,전라도,광주광역시,계약확정,0,없음,남자,3.0,외환은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,197,66331658,렌탈,교체계약,영업방판,2019-02-19,60,CMS,DES-1,102900,개인,52.0,경상도,부산광역시,계약확정,0,없음,남자,NaN,농협중앙회
197,198,66758349,렌탈,일반계약,영업방판,2019-12-17,60,CMS,DES-1,96900,개인,64.0,경상도,부산광역시,계약확정,0,없음,여자,2.0,국민은행
198,199,66464668,렌탈,일반계약,영업방판,2020-06-23,60,CMS,DES-2,87900,개인,63.0,경상도,울산광역시,계약확정,0,없음,여자,1.0,농협중앙회
199,200,66635455,렌탈,프로모션계약,영업방판,2019-01-01,60,CMS,DES-3A,90900,개인,39.0,경상도,대구광역시,계약확정,0,없음,여자,NaN,농협회원조합
200,201,66758280,렌탈,일반계약,영업방판,2019-02-20,60,CMS,DES-1,96900,개인,41.0,경기도,인천광역시,계약확정,0,없음,여자,9.0,새마을금고

In [24]:
# 정렬
data.sort_values(by = 'Amount_Month', ascending = False)  # 원래는 오름차순으로 default로 정렬

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
19773,19775,25740247,렌탈,프로모션계약,전단홍보,2019-11-14,39,가상계좌,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,NaN
28147,28149,25704137,렌탈,프로모션계약,전단홍보,2019-07-25,39,CMS,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,국민은행
19413,19415,25710320,렌탈,프로모션계약,영업방판,2020-01-29,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
19412,19414,25710321,렌탈,프로모션계약,영업방판,2019-09-15,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
37522,37524,25733781,렌탈,프로모션계약,영업방판,2020-07-02,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45304,45306,66793756,멤버십,멤버십2유형,전문매장H,2019-10-07,36,무통장,DES-1,54603,개인,NaN,충청도,충청도,계약확정,0,없음,여자,NaN,NaN
50428,50430,66797402,멤버십,멤버십2유형,전문매장H,2019-12-27,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
45302,45304,66793342,멤버십,멤버십2유형,전문매장H,2019-04-03,36,무통장,DES-1,54603,개인,NaN,강원도,강원도,계약확정,0,없음,여자,NaN,NaN
41153,41155,66790864,멤버십,멤버십2유형,전문매장H,2019-02-16,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
39373,39375,66788207,멤버십,멤버십2유형,전문매장H,2020-05-11,36,무통장,DES-1,54603,개인,NaN,제주도,제주도,계약확정,0,없음,여자,NaN,NaN

In [25]:
# 월 렌탈비용이 높은 상위 100명의 데이터를 추출한 후 member_top.xlsx로 저장
data.sort_values(by = 'Amount_Month', ascending = False).head(100).to_excel('member_top.xlsx')

In [26]:
# 두 가지의 항목에 대해 정렬 (Amount_Month값이 같을 때 Age도 descending order로 정렬
data.sort_values(by = ['Amount_Month', 'Age'], ascending = False)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
38497,38499,25734005,렌탈,프로모션계약,영업방판,2019-06-05,39,CMS,MMC,215700,사업자,58.0,전라도,전라도,계약확정,0,없음,남자,1.0,농협중앙회
44838,44840,25732681,렌탈,프로모션계약,영업방판,2020-04-12,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
44839,44841,25732681,렌탈,프로모션계약,영업방판,2020-04-18,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
44840,44842,25732681,렌탈,프로모션계약,영업방판,2020-06-01,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
5399,5400,25742182,렌탈,프로모션계약,영업방판,2019-05-18,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,1,있음,여자,NaN,신한은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51210,51212,66799109,멤버십,멤버십2유형,전문매장H,2019-09-04,36,무통장,DES-1,54603,개인,NaN,경상도,부산광역시,계약확정,0,없음,여자,NaN,NaN
51277,51279,66799700,멤버십,멤버십2유형,전문매장H,2019-02-24,36,무통장,DES-1,54603,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,NaN
51280,51282,66799156,멤버십,멤버십2유형,전문매장H,2019-03-10,36,무통장,DES-1,54603,개인,NaN,전라도,광주광역시,계약확정,0,없음,여자,NaN,NaN
51284,51286,66799094,멤버십,멤버십2유형,전문매장H,2019-02-24,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
51290,51292,66798812,멤버십,멤버십2유형,전문매장H,2020-01-28,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN

In [27]:
data.sort_values(by = ['Amount_Month', 'Age'], ascending = [False, True])

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
44838,44840,25732681,렌탈,프로모션계약,영업방판,2020-04-12,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
44839,44841,25732681,렌탈,프로모션계약,영업방판,2020-04-18,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
44840,44842,25732681,렌탈,프로모션계약,영업방판,2020-06-01,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
38497,38499,25734005,렌탈,프로모션계약,영업방판,2019-06-05,39,CMS,MMC,215700,사업자,58.0,전라도,전라도,계약확정,0,없음,남자,1.0,농협중앙회
5399,5400,25742182,렌탈,프로모션계약,영업방판,2019-05-18,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,1,있음,여자,NaN,신한은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51210,51212,66799109,멤버십,멤버십2유형,전문매장H,2019-09-04,36,무통장,DES-1,54603,개인,NaN,경상도,부산광역시,계약확정,0,없음,여자,NaN,NaN
51277,51279,66799700,멤버십,멤버십2유형,전문매장H,2019-02-24,36,무통장,DES-1,54603,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,NaN
51280,51282,66799156,멤버십,멤버십2유형,전문매장H,2019-03-10,36,무통장,DES-1,54603,개인,NaN,전라도,광주광역시,계약확정,0,없음,여자,NaN,NaN
51284,51286,66799094,멤버십,멤버십2유형,전문매장H,2019-02-24,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
51290,51292,66798812,멤버십,멤버십2유형,전문매장H,2020-01-28,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN

In [28]:
# 조건에 따라 데이터 필터링
cond1 = data['Amount_Month'] >= 100000
cond1
# data.loc[]

0        False
1         True
2        False
3        False
4        False
         ...
51296    False
51297    False
51298     True
51299    False
51300    False
Name: Amount_Month, Length: 51301, dtype: bool

In [30]:
# data['Amount_Month']가 100000이상인 데이터
data.loc[data['Amount_Month'] >= 100000]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
8,9,66758007,렌탈,일반계약,영업방판,2019-06-30,60,카드이체,DES-3A,102900,개인,62.0,경상도,경상도,계약확정,0,없음,여자,2.0,롯데카드
9,10,66756702,렌탈,프로모션계약,영업방판,2019-06-30,60,CMS,DES-1,105900,개인,51.0,경상도,경상도,계약확정,0,없음,여자,1.0,신한은행
19,20,66755490,렌탈,프로모션계약,영업방판,2020-01-17,60,카드이체,DES-1,105900,개인,58.0,경상도,부산광역시,계약확정,0,없음,여자,1.0,롯데카드
21,22,66758336,렌탈,프로모션계약,전문매장Z,2020-04-25,60,CMS,DES-1,111900,개인,72.0,경상도,부산광역시,계약확정,0,없음,남자,9.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51286,51288,66799302,렌탈,프로모션계약,영업방판,2019-05-21,60,카드이체,DES-1,105900,개인,39.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51287,51289,66444051,렌탈,교체계약,대형마트A,2019-09-29,60,CMS,DES-1,102900,개인,90.0,서울특별시,서울특별시,계약확정,0,없음,남자,NaN,신한은행
51288,51290,66799492,렌탈,프로모션계약,영업방판,2019-02-24,60,카드이체,DES-1,105900,개인,52.0,경기도,경기도,계약확정,0,없음,남자,NaN,삼성카드
51291,51293,25731743,렌탈,일반계약,영업방판,2020-02-12,60,CMS,DES-3A,102900,사업자,NaN,경기도,경기도,계약확정,10,있음,여자,NaN,농협중앙회
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드

In [35]:
cond1 = data['Amount_Month'] >= 100000
cond2 = data['Bank'] == '현대카드'
data.loc[cond1 & cond2]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
489,490,66758903,렌탈,프로모션계약,대형마트E,2019-12-10,60,카드이체,DES-1,105900,개인,41.0,경기도,경기도,계약확정,0,없음,남자,4.0,현대카드
729,730,66758880,렌탈,프로모션계약,전문매장H,2020-07-01,60,카드이체,DES-1,105900,개인,40.0,경기도,인천광역시,계약확정,0,없음,여자,2.0,현대카드
753,754,66758187,렌탈,프로모션계약,영업방판,2019-03-24,60,카드이체,DES-1,105900,개인,38.0,경기도,경기도,계약확정,0,없음,남자,1.0,현대카드
774,775,66759093,렌탈,프로모션계약,대형마트E,2019-01-20,60,카드이체,DES-1,105900,개인,43.0,경기도,경기도,계약확정,0,없음,여자,4.0,현대카드
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50475,50477,66797984,렌탈,일반계약,영업방판,2019-09-21,60,카드이체,DES-1,105900,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,남자,3.0,현대카드
50480,50482,66796969,렌탈,프로모션계약,전문매장Z,2020-06-29,60,카드이체,DES-1,105900,개인,NaN,경상도,경상도,계약확정,0,없음,남자,3.0,현대카드
50558,50560,66574392,렌탈,프로모션계약,대형마트A,2019-11-14,60,카드이체,DES-1,105900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,1.0,현대카드
50667,50669,66797907,렌탈,프로모션계약,영업방판,2020-07-21,60,카드이체,DES-1,105900,개인,NaN,전라도,전라도,계약확정,0,없음,여자,1.0,현대카드
50790,50792,66790808,렌탈,프로모션계약,영업방판,2019-02-24,60,카드이체,DES-1,105900,개인,43.0,경상도,울산광역시,계약확정,0,없음,여자,6.0,현대카드

In [36]:
cond1 = data['Bank'] == '현대카드'
cond2 = data['Bank'] == '롯데카드'
data.loc[cond1 | cond2]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
6,7,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-30,60,카드이체,DES-1,98400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
7,8,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-17,60,카드이체,DES-2,80400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
8,9,66758007,렌탈,일반계약,영업방판,2019-06-30,60,카드이체,DES-3A,102900,개인,62.0,경상도,경상도,계약확정,0,없음,여자,2.0,롯데카드
12,13,66355286,렌탈,프로모션계약,영업방판,2020-02-10,60,카드이체,DES-3A,90900,개인,35.0,경상도,경상도,계약확정,0,없음,여자,7.0,현대카드
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51286,51288,66799302,렌탈,프로모션계약,영업방판,2019-05-21,60,카드이체,DES-1,105900,개인,39.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51289,51291,66441028,렌탈,교체계약,대형마트A,2020-01-16,60,CMS,DES-2,78900,개인,56.0,경기도,경기도,계약확정,0,없음,남자,1.0,롯데카드
51295,51297,66792261,렌탈,일반계약,홈쇼핑/방송,2019-03-11,60,카드이체,DES-1,96900,개인,45.0,경기도,경기도,계약확정,0,없음,여자,1.0,롯데카드
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드

In [39]:
data['Bank'].value_counts()

롯데카드         9516
농협회원조합       6277
국민은행         6002
농협중앙회        3899
신한은행         3522
우리은행         3386
기업은행         1963
신한카드         1532
하나은행         1446
국민카드         1311
BC카드         1264
새마을금고         964
부산은행          889
삼성카드          884
현대카드          876
대구은행          746
우체국           718
외환은행          586
외환카드          530
경남은행          442
SC제일은행        439
광주은행          347
신협중앙회         341
전북은행          195
씨티은행          162
수협중앙회         160
제주은행           40
유안타증권          27
산업은행           23
현대증권           11
삼성증권            7
하나SK            6
미래에셋증권          5
한국투자증권          4
신한금융투자          4
NH농협카드          4
우리카드            3
대우증권            2
산림조합중앙회         1
대신증권            1
하나대투증권          1
SK증권            1
수협카드            1
상호저축은행          1
메리츠종합금융증권       1
하이투자증권          1
씨티카드            1
Name: Bank, dtype: int64

In [37]:
# Bank 항목의 빈도수가 높은 항목들의 순서대로 리스트를 추출
bank_order = data['Bank'].value_counts().index.tolist()

In [38]:
bank_order

['롯데카드',
 '농협회원조합',
 '국민은행',
 '농협중앙회',
 '신한은행',
 '우리은행',
 '기업은행',
 '신한카드',
 '하나은행',
 '국민카드',
 'BC카드',
 '새마을금고',
 '부산은행',
 '삼성카드',
 '현대카드',
 '대구은행',
 '우체국',
 '외환은행',
 '외환카드',
 '경남은행',
 'SC제일은행',
 '광주은행',
 '신협중앙회',
 '전북은행',
 '씨티은행',
 '수협중앙회',
 '제주은행',
 '유안타증권',
 '산업은행',
 '현대증권',
 '삼성증권',
 '하나SK',
 '미래에셋증권',
 '한국투자증권',
 '신한금융투자',
 'NH농협카드',
 '우리카드',
 '대우증권',
 '산림조합중앙회',
 '대신증권',
 '하나대투증권',
 'SK증권',
 '수협카드',
 '상호저축은행',
 '메리츠종합금융증권',
 '하이투자증권',
 '씨티카드']

In [42]:
cond1 = data['Bank'].isin(bank_order[0:5])  # 리스트 내 항목에 대해서만 추출하는 함수
cond1

0        False
1        False
2        False
3         True
4         True
         ...
51296    False
51297    False
51298     True
51299     True
51300     True
Name: Bank, Length: 51301, dtype: bool

In [41]:
data.loc[cond1]  # bank항목에서 빈도수가 높은 상위의 5개 항목에 대해 추출

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합
5,6,66165241,렌탈,프로모션계약,영업방판,2019-07-29,60,CMS,DES-3A,90900,개인,53.0,경상도,경상도,계약확정,0,없음,여자,5.0,농협중앙회
6,7,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-30,60,카드이체,DES-1,98400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
7,8,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-17,60,카드이체,DES-2,80400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51293,51295,66799369,렌탈,일반계약,대형마트A,2020-07-10,60,CMS,DES-1,96900,개인,74.0,경기도,경기도,계약확정,0,없음,여자,1.0,국민은행
51295,51297,66792261,렌탈,일반계약,홈쇼핑/방송,2019-03-11,60,카드이체,DES-1,96900,개인,45.0,경기도,경기도,계약확정,0,없음,여자,1.0,롯데카드
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [43]:
# 요약; Pivot table
# 제품의 종류에 따라서 월렌탈비용의 통계량
data.pivot_table(index = 'Product_Type', values = 'Amount_Month', aggfunc='mean')
# index에는 구분하고 싶은 값 / values에는 계산하고 싶은 값 / aggfunc에는 계산하고자 하는 통계량
data.pivot_table(index = ['Channel','Product_Type'], values = 'Amount_Month', aggfunc = 'sum')

                      Amount_Month
Channel Product_Type
대형마트A   DES-1            315514080
        DES-2             71563380
        DES-3A            51342300
        DES-R4             4650300
        ERA               10132500
...                            ...
홈쇼핑/방송  DES-2            304986900
        DES-3A              102900
        DES-R4              144900
홈쇼핑/인터넷 DES-1             31527300
        DES-2              4729800

[61 rows x 1 columns]

미션 1
1. 유입경로(Channel)에서 대형마트로 계약한 고객들 중, 월렌탈비용이 100000원 이상인 고객명단 추출 -> result1.xlsx로 저장
2. Channel별 연체건수의 합을 계산하여 가장 연체건수(Overdue_count)가 높은 3개의 유입경로를 확인
3. 결제은행에서 신한카드를 쓴 고객들 중 제품군(Product_Type)별 계약기간(Term)의 평균 계산 -> result2.xlsx

0001jmp@gmail.com / code 송부

In [45]:
data['Channel'].unique()

array(['영업방판', '홈쇼핑/방송', '재계약', '전문매장H', '전문매장Z', '대형마트H', '대형마트E',
       '홈쇼핑/인터넷', '전단홍보', '직영유통사', '대형마트A', '대형마트N', '대형마트C', '직영계열사B',
       '자체홈페이지', '직영계열사A'], dtype=object)

#### 1.

In [58]:
cond1 = data['Channel'].str.contains('대형마트')  # 대형마트
cond2 = data['Amount_Month'] >= 100000
data[cond1 & cond2].to_excel('result1.xlsx')

#### 2.

In [65]:
data.pivot_table(index = ['Channel'], values = 'Overdue_count', aggfunc = 'sum').sort_values(by = 'Overdue_count', ascending = False).head(3)

         Overdue_count
Channel
영업방판              4887
홈쇼핑/방송            1271
대형마트A              904

#### 3.

In [73]:
data[data['Bank'] == '신한카드'].groupby('Product_Type').mean().to_excel('result2.xlsx')